{% extends "layout.html" %}
{% block content %}
<h1 id="-data-science-project-proposal-"><strong>Data Science Project</strong></h1>
<p><strong>Group – 90</strong></p>
<p><strong>Members:</strong> Ugur Menekse(ID: 46535837) <strong>,</strong> Tawhidur Rahman Abir(ID:46219285) <strong>,</strong> Ayyan Muzaffar(ID: 44330723
) <strong>,</strong> Romil Rajendra Sawant(ID: 46171282)</p>
<h2 id="_book-recommender-system_"><em>Book Recommender System</em></h2>
<p><img src="library.jpg" alt=""></p>
<p>Nowadays, the amount of information on the internet is growing at a fast pace, so finding appropriate information has become of utmost importance. New technologies are emerging to tackle this problem and one such tool is the recommendation system. It helps to navigate quickly and receive the necessary information. This project will implement a quick and intuitive book recommendation system that assists readers in finding an appropriate book to read using content-based filtering. </p>

<h3>Project Description</h3>
<p>This app uses Content base filterting and suggest books based dimilar descriptions . <br> The app uses TF-IDF to turn sexcription into feature vectors  and calculates the Cosine Similarity </p>
<h3>How to Use</h3>
<p>
    1) Type the name of the book <br>
    2) The app uses auto complete feature , select a previous book u like<br>
    3) Click on Submit , and the app will suggest you 5 books similar to the book you have chosen basen of ithat books description.<br>
</p>



<div>
    <div id="test"><h2 >asdasdasdasd</h2></div>
    <div id="test2"><h2>sdasdasdas</h2></div>
</div>
<style>
    #test { 
    float:left;   
    width:50%;
} 
#test2{ 
    float:left;   
    width:50%; 
}
</style>


{% endblock content %}
